#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
  margin-bottom: 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dice-button {
  width: 100%;
}

.dice-button--black {
  background: #1a1a1a;
}
.dice-button--red {
  background: #9d0b0b;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  padding-top: 4rem;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer .github-link:hover {
  text-decoration: underline !important;
}

footer p {
  margin: 0;
}
